body{
    background-color: #627890 ;
}

.text {
    font-family: "Kaisei Tokumin", serif; 
}

a{
    color: white;

}

a:hover{

   color: #642226; 
}

#top{
    text-align: center;
}

div{
    margin-left: 30px;
}