body{
    background-color: #E9B0BD ;
    margin:0;
    padding:0;
}

img{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    border: 8px solid #642226;
}

figure{
    float: left;
}

p{
    font-size: large;
}

a{
    color: #642226;
    font-family: "Kaisei Tokumin", serif ;
}

a:hover{
    color:white;
}

.text{
    color: #14263C;
    font-family: "Kaisei Tokumin", serif ;
    font-style: normal;
    text-align: center;
}

#about{
    display: inline;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;

    position:fixed;
    bottom: 0;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 20px;
}

li {
    float: left;
    width: 50%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: large;
}

li a:hover{
    background-color:#642226;
}

